<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="SystemUserDom" value="shsongz"/>
    <add key="SystemUserName" value="administrator"/>
    <add key="SystemUserPWS" value="shsongz2013"/>
    <add key="MailBoxUser" value="oa-admin"/>
    <add key="TimeSpan" value="30"/>
    <add key="Runmont.Portal.LogUtility.LogLevel" value="DEBUG"/>
    <add key="Runmont.Portal.LogUtility.LogManagers" value="FileLogManager"/>
    <add key="Runmont.Portal.LogUtility.FileLogManager.RemainDays" value="20"/>
    <add key="Runmont.Portal.LogUtility.FileLogManager.LogFolder" value="c:\Akmii\MailApproveLog"/>
    <add key="WorkFlowBindingUsed" value="NetTcpBinding_IWCFWorkflowService"/>
    <add key="EventServicesBindingUsed" value="NetTcpBinding_IWCFEventServices"/>
    <add key="AdminBindingUsed" value="NetTcpBinding_IWCFAdminService"/>
    <add key="HostingMechanism" value="WCF"/>
    <!--Exchange AutodiscoverUrl-->
    <add key="ExchangeAutodiscoverUrl" value="https://192.168.0.123/EWS/Exchange.asmx"/>
    <!--Exchange Version：（Exchange2010_SP1、Exchange2010_SP2）-->
    <add key="ExchangeVersion" value="Exchange2010_SP1"/>
    <!--Exchange AdminUserAccount-->
    <add key="ExchangeAdminUserAccount" value="shsongz\oa-admin"/>
    <!--Exchange AdminPassword-->
    <add key="ExchangeAdminPassword" value="shsongzoa"/>
    <!--审批结果。同意；拒绝；退回至申请人-->
    <add key="ApprovalResult" value="同意;拒绝;退回至申请人"/>
    <!--审批结果-->
    <add key="ReplyMessageOfCarbon" value="无法通过邮件处理沟通或知会任务，请登录系统进行处理。"/>
    <add key="ApproveFailedMessage" value="审批失败。请登录系统进行处理！"/>
    <add key="ReplyMessageOfInvalidTask" value="审批失败。此任务已失效！"/>
    <add key="ReplyMessageOfNotAssigner" value="审批失败！您不是此任务的分配者，无权处理！"/>
    <add key="127.0.0.1" value="邮件审批回复信息格式有误，请确认是否对默认格式进行更改，或登录系统处理此任务。"/>
    <add key="ReplyMessageOfRollBackFailure" value="审批失败！流程无法[处理操作],请登录EP系统进行处理。"/>
    <add key="ReplyMessageOfRollBackSuccess" value="审批成功！流程已成功[处理操作]"/>
    <add key="ApproveSucceedMessage" value="审批成功！您[处理操作]了此任务！"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
  </appSettings>
  <connectionStrings>
    <add name="EPDataBaseConnstr" connectionString="Data Source=192.168.0.26;Initial Catalog=aptest;User ID=oa;Password=oa123456;Max Pool Size=150;Connect Timeout=500" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="oa-admin@shsongz.com">
        <network host="192.168.0.123" port="25" enableSsl="false" clientDomain="shsongz" userName="oa-admin" password="shsongzoa"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCFWorkflowService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IWCFAdminService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IWCFEventServices" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IWCFDataServices" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IWCFExtensionService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWCFWorkflowService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" transferMode="Buffered" transactionProtocol="OleTransactions" listenBacklog="10" transactionFlow="false" maxConnections="10">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IWCFAdminService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" transferMode="Buffered" transactionProtocol="OleTransactions" listenBacklog="10" transactionFlow="false" maxConnections="10">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IWCFEventServices" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" transferMode="Buffered" transactionProtocol="OleTransactions" listenBacklog="10" transactionFlow="false" maxConnections="10">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IWCFDataServices" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" transferMode="Buffered" transactionProtocol="OleTransactions" listenBacklog="10" transactionFlow="false" maxConnections="10">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IWCFExtensionService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" transferMode="Buffered" transactionProtocol="OleTransactions" listenBacklog="10" transactionFlow="false" maxConnections="10">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWCFWorkflowService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport proxyCredentialType="None" realm="" clientCredentialType="Windows"/>
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IWCFAdminService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport proxyCredentialType="None" realm="" clientCredentialType="Windows"/>
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IWCFEventServices" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport proxyCredentialType="None" realm="" clientCredentialType="Windows"/>
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IWCFDataServices" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport proxyCredentialType="None" realm="" clientCredentialType="Windows"/>
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IWCFExtensionService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" transactionFlow="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport proxyCredentialType="None" realm="" clientCredentialType="Windows"/>
            <message clientCredentialType="Windows" algorithmSuite="Default" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.26:13487/AgilePointServer/Workflow" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFWorkflowService" contract="WorkflowService.IWCFWorkflowService" name="WSHttpBinding_IWCFWorkflowService" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://192.168.0.151:13488/AgilePointServer/Workflow" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFWorkflowService" contract="WorkflowService.IWCFWorkflowService" name="NetTcpBinding_IWCFWorkflowService" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator@shsongz.com"/>
        </identity>
      </endpoint>
      <endpoint address="http://192.168.0.26:13489/AgilePointServer/Workflow" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFWorkflowService" contract="WorkflowService.IWCFWorkflowService" name="BasicHttpBinding_IWCFWorkflowService" behaviorConfiguration="AgilePointServiceBehavior"/>
      <endpoint address="http://192.168.0.26:13487/AgilePointServer/Admin" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFAdminService" contract="AdminService.IWCFAdminService" name="WSHttpBinding_IWCFAdminService" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator@shsongz.com"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://192.168.0.26:13488/AgilePointServer/Admin" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFAdminService" contract="AdminService.IWCFAdminService" name="NetTcpBinding_IWCFAdminService" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator@shsongz.com"/>
        </identity>
      </endpoint>
      <endpoint address="http://192.168.0.26:13489/AgilePointServer/Admin" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFAdminService" contract="AdminService.IWCFAdminService" name="BasicHttpBinding_IWCFAdminService" behaviorConfiguration="AgilePointServiceBehavior"/>
      <endpoint address="http://192.168.0.26:13487/AgilePointServer/EventServices" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFEventServices" contract="EventServices.IWCFEventServices" name="WSHttpBinding_IWCFEventServices" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator@shsongz.com"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://192.168.0.26:13488/AgilePointServer/EventServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFEventServices" contract="EventServices.IWCFEventServices" name="NetTcpBinding_IWCFEventServices" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator@shsongz.com"/>
        </identity>
      </endpoint>
      <endpoint address="http://192.168.0.26:13489/AgilePointServer/EventServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFEventServices" contract="EventServices.IWCFEventServices" name="BasicHttpBinding_IWCFEventServices" behaviorConfiguration="AgilePointServiceBehavior"/>
      <endpoint address="http://192.168.0.26:13487/AgilePointServer/DataServices" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFDataServices" contract="DataServices.IWCFDataServices" name="WSHttpBinding_IWCFDataServices" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator@shsongz.com"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://192.168.0.26:13488/AgilePointServer/DataServices" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFDataServices" contract="DataServices.IWCFDataServices" name="NetTcpBinding_IWCFDataServices" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator@shsongz.com"/>
        </identity>
      </endpoint>
      <endpoint address="http://192.168.0.26:13489/AgilePointServer/DataServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFDataServices" contract="DataServices.IWCFDataServices" name="BasicHttpBinding_IWCFDataServices" behaviorConfiguration="AgilePointServiceBehavior"/>
      <endpoint address="http://192.168.0.26:13487/AgilePointServer/Extension" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWCFExtensionService" contract="ExtensionServices.IWCFExtensionService" name="WSHttpBinding_IWCFExtensionService" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator@shsongz.com"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://192.168.0.26:13488/AgilePointServer/Extension" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCFExtensionService" contract="ExtensionServices.IWCFExtensionService" name="NetTcpBinding_IWCFExtensionService" behaviorConfiguration="AgilePointServiceBehavior">
        <identity>
          <userPrincipalName value="administrator@shsongz.com"/>
        </identity>
      </endpoint>
      <endpoint address="http://192.168.0.26:13489/AgilePointServer/Extension" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFExtensionService" contract="ExtensionServices.IWCFExtensionService" name="BasicHttpBinding_IWCFExtensionService" behaviorConfiguration="AgilePointServiceBehavior"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AgilePointServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
